@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    --primary-pale-color: hsla(245, 75%, 52%, 1);
    ;
}



/* Start reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End reset CSS */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('images/pattern-background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    padding: 24px;
}

main {
    background-color: white;
    border-radius: 20px;
    max-width: 450px;
}

picture {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

section {
    margin: 32px 24px;
}

h1 {
    font-size: 22px;
    line-height: 1.32em;
    color: hsla(223, 46%, 23%, 1);
    font-weight: 900;
}

p {
    margin: 16px 0 24px 0;
    color: hsla(223, 23%, 55%, 1);
    font-size: 15px;
    line-height: 1.6em;
}

.annual-plan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 11px;
    background-color: #F7F9FF;
    font-size: 14px;
}

.annual-plan>div {
    flex: 1;
}

.annual-plan img {
    width: 48px;
}

.annual-plan__title {
    font-weight: 900;
    color: hsla(223, 46%, 23%, 1);

}

.annual-plan__price {
    color: hsla(224, 23%, 55%, 1);
    margin-top: 3px;
}

.annual-plan a:hover,
.annual-plan a:active {
    color: hsla(245, 83%, 68%, 1);
    text-decoration: none;
}

.payment {
    display: block;
    width: 100%;
    background: var(--primary-pale-color);
    color: white;
    padding: 1em 0;
    text-decoration: none;
    border-radius: 11px;
    margin: 24px 0;
    box-shadow: 0px 20px 20px 0px hsla(245, 75%, 52%, 0.19);
}

.payment:hover,
.payment:active {
    background: hsla(245, 83%, 68%, 1);
}

.cancel {
    text-decoration: none;
    color: hsla(224, 23%, 55%, 1);
    font-weight: 900;
    font-size: 15px;
    line-height: 19.85px;

}

.cancel:hover,
.cancel:active {
    color: hsl(228, 45%, 44%)
}

/* Desktop design */

@media only screen and (min-width: 768px) {
    section {
        margin: 48px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        padding: 0 24px;
    }

    .annual-plan {
        font-size: 16px;
    }

    .annual-plan__price {
        margin-top: 6px;
    }
}

/* Default styles */
.attribution {
    margin-top: 24px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}